
html {
  font-size: 22px;
}

body {
  font-family: 'ABeeZee';
  width: 50rem;
  border-style: double;
  border-color: plum;
  border-width: 1rem;
  padding: 0.5rem;
  margin-left: 6rem;
}

div {
  background-color: white;
  padding: 1rem;
}
h1,h2 {
  text-align: center;
}

#larger-heading {
  font-size: 3em;
}

table.menu {
  width: 90%;
  margin-bottom: 20px;
  margin-left: 2rem;
}
table.menu th, table.menu td {
  padding: 0.5rem;
  text-align: center;
  border: solid black;
}
table.menu th {
  color:plum;
}
td:first-child, th:first-child {
  width: 60%;
}

td:last-child, th:last-child {
  width: 40%;
}

.button {
  font-size: 20px;
  padding: 10px 20px; 
  display: inline-block;
  border-style: double;
  border-width: 0.1rem;
  border-radius: 0.4rem;
}

img {
  display: flex;
  justify-content: center;
  border-width: 0.5rem;
  border-color: plum;
  border-style: dashed;
  margin-top: 2rem;
  margin-left: 8rem;
  width:30rem;
}

a:hover {
  font-size:0.9rem;
}
a:visited{
  color: violet;
}
.inputNum {
  width: 30px;
}
.navigation {
  text-align: right;
}
/* add a background image
#backgroundDiv {
  background-color: rgb(165, 206, 223);
  background-image: url(/additional_files/3.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  background-attachment: scroll;
 
  width: 40rem;
  height: 40rem; 
  border-style: solid;
  border-color: green;
  border-width: 0.5rem;
}*/