<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wendy's Bingfen</title>
    <link rel="stylesheet" href="additional_files/decoration.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&effect=neon|outline|emboss|shadow-multiple">
<body>
    <div class="navigation" style="text-align: right;">
        <a href="/">Home</a>
        <a href="/order">View Our Menu</a>
        <a href="/trackorder">Track Order</a>
        <a href="#TODO">Past Sales</a> 
        <a href="/story">Who We Are</a>
        <a href="/jobs">Find Jobs</a>
      </div>
    <div>
        <h1 class="font-effect-neon" id="larger-heading">Wendy's Bingfen</h1>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">Introduction</h2>
        <p>
            <b>Bingfen</b> (Chinese: 冰粉; pinyin: bīngfěn) is a beloved 
            Chinese dessert originating from Southwest China in provinces
            such as Sichuan, Guizhou, and Yunnan. This refreshing treat is
            served as a bowl of iced transparent jelly, made from the 
            seeds of the Nicandra physalodes plant, and is typically 
            garnished with toppings like haw flakes and wolfberries.
            Bingfen is a popular street food that is particularly enjoyed 
            during the summertime for its cooling and soothing properties.
            Here at Wendy's Bingfen, we're thrilled to offer this unique 
            delicacy to our customers and share the flavors and culture 
            of China with the world.
        </p>
        <div>
            <img class = "image" src="/additional_files/bf.jpeg" alt="Bingfen">
        </div>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">Order Online</h2>
          <p>Indulge in the refreshing taste of our authentic Chinese bingfen 
            desserts. Made with high-quality ingredients and served with a 
            variety of delicious toppings, our bingfen is the perfect treat
             for any occasion. Place your order online today and experience 
             the sweet and satisfying flavors of Wendy's Bingfen!
            </p>
        <a href="/order">Place your order</a>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">Track Your Order</h2>
        <p>
            <a href="/trackOrder">Click here</a>
        </p>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">Past Sales</h2>
            <a href="/pastScales">Search past sales for Wendy's Bingfen</a>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">Learn About our Story</h2>
        <div id = images>
            <img id = "showImage" src="/additional_files/1.jpg" alt="image">
        </div>
        <input class="button" type="button" id="slideShow" value="SlideShow"> 
        <input class="button" type="button" id="stopSlideShow" value="StopSlideShow"><br><br>
        <a href="/story">Read more</a>
    </div>
    <div>
        <hr>
        <p> Developed by: Wenyu Chen and Shilin Huang</p>
        <hr>
        </div>
</body>
<script>
    "use strict";
    window.onload = main; 
    let picNum = 4; //TODO: update the number when adding new pictures
    let idGlobal;
    const intervalInMilliseconds = 1000;
    var photos = [];
    var idx = Number.NEGATIVE_INFINITY;
    function main() {
        document.getElementById("slideShow").onclick = slideShow;
        document.getElementById("stopSlideShow").onclick = stopSlideShow;
        // load images
        // store photos in an array
        let count = 0
        //TODO: change the number of photos
        for(let i = 1; i <= picNum; i++) {
            photos[count++] = "/additional_files/" + i + ".jpg";
        }
        // show the first image
        if (idx < -1) {
            idx = 0;
        } 
        showImage(0);
    }

    function showImage(i) {
        document.querySelector("#showImage").src = photos[i];
    }
    function nextPhoto() {
        
            if (idx === photos.length-1) {
                idx = -1;
            }
            showImage(++idx);
    }
    let slideShow = () => idGlobal = setInterval("nextPhoto()", intervalInMilliseconds);
    let stopSlideShow = () => clearInterval(idGlobal);
</script>