<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wendy's Bingfen</title>
    <link rel="stylesheet" href="additional_files/decoration.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&effect=neon|outline|emboss|shadow-multiple">
<body>
    <!-- TODO Nav-->
        <h1 class="font-effect-neon" id="larger-heading">We are Hiring</h1>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">Join our Team</h2>
        <p>
        We are excited to announce that we are currently seeking passionate 
        individuals to join our team at Bingfen! As we continue to grow, we are 
        looking for team members who share our commitment to providing 
        high-quality, delicious desserts to our customers. Whether you have 
        experience in the food industry or are just starting out, we encourage 
        you to apply and become a part of our vibrant and welcoming work 
        environment. We offer competitive pay, flexible scheduling, 
        and opportunities for advancement. If you are interested in applying, 
        please contact us. We look forward to hearing from you!
        </p>
    <div>
    <div>
        <h2 class="font-effect-shadow-multiple">Contact Information</h2>
    <ul>
        <li><strong>Phone:</strong> 123-456-7890</li>
        <li><strong>Address:</strong> 8125 Paint Branch Dr, College Park, MD 20742</li>
    </ul>
    <div>
        <a href="/">HOME</a>
    </div>
    </div>
        <hr>
        <p> Developed by: Wenyu Chen and Shilin Huang</p>
        <hr>
        </div>
</body>