<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Past Sales</title>
    <link rel="stylesheet" href="additional_files/decoration.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&effect=neon|outline|emboss|shadow-multiple">
<body>
    <!-- TODO Nav-->
    <div>
        <h1 class="font-effect-neon" id="larger-heading">Sales History</h1>
    </div>
    <div>
        <h2 class="font-effect-shadow-multiple">We have sold <%- number %> bowls of Bingfen
        since 2023. </h2>
        <h2 class="font-effect-shadow-multiple">Every serving of Bingfen is made with ❤️</h2>
    </div>
    <div>
        <hr>
        <p> Developed by: Wenyu Chen and Shilin Huang</p>
            <hr>
        </div>
</body>