<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Track Your Order</title>
    <link rel="stylesheet" href="additional_files/decoration.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee&effect=neon|outline|emboss|shadow-multiple">
</head>
<body>
    <div class="navigation">
        <a href="/">Home</a>
        <a href="/order">View Our Menu</a>
        <a href="/trackorder" class="active">Track Order</a>
        <a href="/pastSales">Past Sales</a> 
        <a href="/story">Who We Are</a>
        <a href="/jobs">Find Jobs</a>
    </div>
    <div>
        <h1 class="font-effect-neon" id="larger-heading">Track Your Order</h1>
        <p>Put in your information to track the order</p>
    </div>
    <div>
        <form action="/trackResult" method="post">
            <fieldset>
                <legend>
                    <strong>Customer Information</strong>
                </legend>
                <label>Email: <input type="text" name="email"/></label><br>
            </fieldset>
            <br>
            <div style="text-align:center">
                <input class="button" type="reset"/>
                <input class="button" type="submit" value="Track"/>
            </div>
        </form>
    </div>
    <div style="text-align:center">
        <a href="/" class="link">HOME</a>
    </div>
    <div>
        <hr>
        <p> Developed by: Wenyu Chen and Shilin Huang</p>
            <hr>
    </div>
</body>